/* 
====== 
Icons
======
*/
.triangle-up {
  border-bottom: 0.35em solid var(--primaryColor);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
}

.triangle-down {
  border-top: 0.35em solid var(--primaryColor);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
}

/* 
====== 
Variables 
======
*/
:root {
  --primaryColor: #008080;
  --bg: #fff;
  --offBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.3rem;
  --lightShadow: 0.125rem 0.125rem 0.5rem 0.125rem rgba(0, 0, 0, 0.25);
  --navShadow: -0.25px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --textShadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  --mathFontSize: 65%;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 1.25vw;
}

body {
  font-family: "Arial", sans-serif;
  color: var(--offBlack);
  background: var(--bg);
  line-height: 1.4;
  overflow-y: scroll;
}

/* 
====== 
Navbar
======
*/
.nav {
  background: var(--primaryColor);
  padding: 0.25rem 2rem 0 2rem;
  display: flex;
  align-items: center;
  box-shadow: var(--navShadow);
  justify-content: space-between;
  font-size: 150%;
  margin-bottom: 2rem;
}

.nav h1.nav-title {
  text-transform: capitalize;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  text-shadow: var(--textShadow);
  color: white;
  font-family: "Acme", sans-serif;
  letter-spacing: 0.1rem;
}

.nav .nav-links {
  font-size: 90%;
  min-width: 25rem;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.nav .nav-links .nav-link {
  text-transform: capitalize;
  color: yellow;
  margin: 0 1.75rem;
}

.nav .nav-links .nav-link:hover {
  color: #999;
}

.nav .nav-links .nav-link + .active {
  color: white;
}

main {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.width100 {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.width95 {
  position: relative;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.width90 {
  position: relative;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.width85 {
  position: relative;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.width80 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.width75 {
  position: relative;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.width70 {
  position: relative;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.width65 {
  position: relative;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.card + .card {
  margin-top: 1rem;
}

.card .answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.card .answer .katex {
  font-size: 110%;
}

.card .solution .katex {
  font-size: 118%;
}

.strike {
  text-decoration: line-through;
}

.hide {
  display: none;
}

button.display-btn {
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--primaryColor);
  outline: none;
}

label.yQlayout input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}

label input[type="radio"] + *::before {
  content: "";
  color: white;
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3em;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--primaryColor);
}

label input[type="radio"]:checked + *::before {
  border-color: black;
  background: var(--primaryColor);
  border-width: 1px;
}

label input[type="radio"] + * {
  display: inline-block;
  padding: 0.5rem 1rem;
}

label.yQlayout + label.yQlayout {
  margin-left: 5rem;
}

section img {
  position: relative;
}

.super {
  position: absolute;
  left: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

span.katex {
  font-size: 110%;
}

section.intro {
  width: 75%;
  margin: 1rem auto 0 auto;
}

section.intro p {
  margin-top: 1em;
}

section.fig {
  margin: 1em auto 0 auto;
  position: relative;
}

section.fig img {
  width: 100%;
}

section.fig form input {
  width: 4.25rem;
  font-size: 1rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  cursor: pointer;
}

section.fig form label {
  position: absolute;
  padding: 0 0.25em;
}

section.fig form label.b {
  top: 74%;
  left: 51%;
  background-color: #ccc;
}

section.fig form label.zl {
  top: 58.5%;
  left: 16%;
  background-color: #ccc;
}

section.fig form label.zr {
  top: 58%;
  left: 80%;
  background-color: #ccc;
  padding: 0;
}

section.fig form label.y {
  color: white;
  padding: 0.25em;
  top: 40%;
  left: 56%;
  background-color: #088;
}

section.fig form label.Q {
  color: white;
  padding: 0.25em;
  top: 40%;
  left: 40%;
  background-color: #088;
}

section.fig form label.s {
  padding: 0.25em;
  top: 92%;
  left: 0;
}

section.fig form label.s .katex {
  font-size: 110%;
}

section.fig form label.n {
  padding: 0.25em;
  top: 92%;
  left: 41%;
}

section.fig form label.n .katex {
  font-size: 110%;
}

section.fig form label.g {
  padding: 0.25em;
  top: 92%;
  right: 0;
}

section.fig form label.g .katex {
  font-size: 110%;
}

section.results {
  margin: 3rem auto;
}

section.message {
  width: 70%;
  margin: 2em auto;
}

section h1 {
  text-align: left;
  margin: 1em 0 0.5em 0;
  color: var(--primaryColor);
}

section.results {
  width: 80%;
}

section.fig {
  width: 80%;
}

section.intro {
  width: 80%;
}
