:root {
  --home-primary: #bbb;
  --about-primary: #ae946d;
  --about-primary-hover: #d79c45;
  --about-secondary: #000;
  --statics-primary: #900;
  --statics-primary-hover: #880000;
  --statics-secondary: #000;
  --misc-primary: #172;
  --misc-primary-hover: #09801c;
  --misc-secondary: #000;
  --water-primary: #0af;
  --water-secondary: #000;
  --strength-primary: #e70;
  --strength-secondary: #000;
  --li-hover-border: red;
  --sub-ul: #aaa;
  --sub-ul-hover: #777;
  --page-background: white;
  --link-text: white;
  --link-text-hover: black;
  --text-primary: black;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 1.875vw, 24px);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: inherit;
}

.katex {
  font-size: 0.8em;
}
